@model AboutPageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(/Theme/img/bg-img/b1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content text-center">
                    <h2>Hakkımda</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row align-items-end">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
             
                        <h4><a href="#" class="post-headline">@Model.About.AboutTitle</a></h4>
                        <p class="mb-3">@Model.About.AboutContent</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area -->
            
            <!-- Single Blog Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-catagory-area clearfix mb-100">
                    <img src="@Model.About.AboutImage" alt="">
                    <!-- Catagory Title -->
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->
<hr />
<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Blog Area  -->
            @foreach (var blog in Model.Posts)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area blog-style-2 mb-100">
                        <div class="single-blog-thumbnail">
                            <img src="@blog.BlogImage" alt="">
                            <div class="post-date">
                                <a href="#">@blog.CreateDate.Day <span>@blog.CreateDate.ToString("MMMM") @blog.CreateDate.ToString("yyyy")</span></a>
                            </div>
                        </div>
                        <!-- Blog Content -->
                        <div class="single-blog-content mt-50">
                            <div class="line"></div>                     
                            <h4><a href="#" class="post-headline">@blog.BlogTitle</a></h4>
                           
                            
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area  -->
            }
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->